html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #0000;
}

.navbar {
    background-color: #6610f2;
}

.bi {
    vertical-align: -.125em;
    color: var(--curent-color);
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.toogle-password {
    position: absolute;
    top: 25%;
    right: 5%;
    z-index: 9;
    width: 28px;
    height: 30px;
    background: 0;
    border: 0;
  }